---
import Button from "../atoms/Button.astro";
---

<div id="deleteModal" class="modal is-hidden">
  <div class="modal__backdrop" data-close-delete-modal="true"></div>
  <div class="modal__content">
    <div class="modal__header">
      <h3>Delete user</h3>
      <Button id="closeDeleteModalBtn">Close</Button>
    </div>
    <p id="deleteModalText" class="delete-text">Are you sure you want to delete this user?</p>
    <div class="form__actions">
      <Button id="cancelDeleteBtn">Cancel</Button>
      <Button id="confirmDeleteBtn" variant="danger">Delete</Button>
    </div>
  </div>
</div>
