<div id="sideMenuBackdrop" class="side-menu-backdrop is-hidden" data-close-side-menu="true"></div>
<aside id="sideMenu" class="side-menu">
  <p class="side-menu__title">Menu</p>
  <nav class="side-menu__nav">
    <a class="side-menu__item is-active" href="#">Users</a>
    <a class="side-menu__item" href="#">Reports</a>
    <a class="side-menu__item" href="#">Settings</a>
  </nav>
</aside>
