---
import Button from "../atoms/Button.astro";
---
<div id="modal" class="modal is-hidden">
  <div class="modal__backdrop" data-close-modal="true"></div>
  <div class="modal__content">
    <div class="modal__header">
      <h3>User details</h3>
      <Button id="closeModalBtn">Close</Button>
    </div>
    <div id="modalBody" class="detail"></div>
  </div>
</div>

<div id="toast" class="toast"></div>
